.login-page-wrapper{
    height: 100vh;
    background-image: url('../images/loginbg.png');
    background-size: 500px;
    background-position: bottom right 5%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
}
.login-with-google{
    cursor: pointer;
    transition: transform .3s ease;
}

.login-with-google:hover{
    opacity: .8;
    transform: scale(1.01);
}


/* Login Form Container */
.login-card{
    width:400px;
    backdrop-filter: blur(30px);
    background: transparent;
}
.login-card form{
    width: 100%;
}

/* Media Query */
